#section1{
    display: flex;
    flex-wrap: wrap;
 }

 section{
   display: flex;
 }

 .box{
    border: 2px solid black;
 }
 #box1{
    flex-grow: .4;
 }
 #box2{
    flex-grow: .6;
 }
 body{
    margin: 0;
 }

 #box3{
   flex-grow:.5;
 }

#box4{
   flex-grow: .5;
}

#section2{
   display: flex;
   flex-wrap: wrap;
}